<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">

                    {{#each dataThemes}}

                    <div class="section-heading">
                        <h5>{{this.name}}</h5>
                    </div>

                    {{/each}}
                    <br>
                    <br>
                    {{#each data}}
                    <!-- Single Catagory Post -->
                    <div class="single-catagory-post d-flex flex-wrap">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail bg-img" style="background-image: url({{this.img}});">

                        </div>

                        <!-- Post Contetnt -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">{{this.date}}</a>
                                <a href="#">{{this.theme}}</a>
                            </div>
                            <a href="news/{{this.id}}" class="post-title">{{this.title}}</a>
                            <!-- Post Meta -->
                            <p>{{this.epitomize}}</p>
                        </div>
                    </div>

                    {{/each}}



                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <br>
                    <div class="single-sidebar-widget">
                        <a href="#" class="add-img"><img src="" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>