<div class="feature-video-posts mb-30">
    <!-- Service Title -->
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Tin Nổi Bật</h5>
    </div>

    <div class="featured-video-posts">
        <div class="row">

            {{#each mainHotNews}}
            <div class="col-12 col-lg-7">
                <!-- Single Featured Post -->
                <div class="single-featured-post">
                    <!-- Thumbnail -->
                    <div class="post-thumbnail mb-50">
                        <img src="{{this.img}}" alt="">

                    </div>
                    <!-- Post Contetnt -->
                    <div class="post-content">
                        <div class="post-meta">
                            <a href="#">{{this.date}}</a>
                            <a href="#">{{this.theme}}</a>
                        </div>
                        <a href="news/{{this.id}}" class="post-title">{{this.title}}</a>
                        <p>{{this.epitomize}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{>home/trending}}
        </div>
    </div>
</div>