<div class="sports-videos-area">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Tin Tức</h5>
    </div>


    <div class="row">
        {{#each data}}
        <div class="col-12 col-lg-6">
            <div class="single-blog-post d-flex style-3 mb-30">
                <div class="post-thumbnail">
                    <img src={{this.img}}>
                </div>
                <div class="post-content">
                    <a href="#" class="post-title">{{this.title}}</a>

                    <div class="post-meta d-flex">
                        <p> Đăng lúc {{this.date}} : {{this.time}}</p>
                    </div>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{this.viewsCount}}</a>
                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                        <a></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
    </div>
    {{/each}}
    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
        </ul>
    </nav>

</div>