<div class="sports-videos-area">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Tin Tức</h5>
    </div>
    <div class="row" id="insertAjax">
        {{#each data}}
        <div class="col-12 col-lg-6">
            <div class="single-blog-post d-flex style-3 mb-30">
                <div class="post-thumbnail">
                    <a href="/news/{{this.id}}"><img src={{this.img}}></a>
                </div>
                <div class="post-content">
                    <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>

                    <div class="post-meta d-flex">
                        <p> {{this.date}} <a href="#">{{this.theme}}</a> </p>
                    </div>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{this.viewsCount}}</a>
                        <a href="#"><i class="fa far fa-comments" aria-hidden="true"></i>5</a>
                        <a></a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- Pagination -->
    <nav>
        <ul class="pagination">

            {{#each paginate}}
            <li class="page-item"><a id="{{this}}" class="page-link" href="/page/{{this}}">{{this}}</a>
            </li>
            {{/each}}

        </ul>
    </nav>

</div>