<section class="mag-posts-area d-flex flex-wrap">

    {{> news/leftSideBar}}

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">


        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->
            <h1>

                {{#each theme}}
                <b><a href="#">{{this}} ||</a></b>
                {{/each}}

            </h1>

            <div class="featured-video-posts">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        {{>news/mainType}}
                    </div>

                    <div class="col-12 col-lg-5">
                        <!-- Featured Video Posts Slide -->
                        {{> news/threePostRight}}

                    </div>
                </div>
            </div>



            <!-- Section Title -->
            <div class="section-heading">
                <h5>Most Viewed Videos</h5>
            </div>

            <div class="most-viewed-videos-slide owl-carousel">

                {{> news/typeDown}}



            </div>
        </div>
        <div class="section-heading">
            <h5>Care</h5>
        </div>
        {{#each rest}}
        <div class="single-catagory-post d-flex flex-wrap">
            <div class="post-thumbnail bg-img" style="background-image: url({{this.img}});">
            </div>

            <div class="post-content">
                <div class="post-meta">
                    <a href="#">{{this.date}}</a>
                    <a href="#">{{this.theme}}</a>
                </div>
                <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>
                <div class="post-meta d-flex justify-content-between">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{this.viewsCount}}</a>
                    <a href="#"><i class="fa far fa-comments" aria-hidden="true"></i>5</a>
                    <a></a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>


</section>