<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <!-- Status Area -->
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Trạng Thái</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" onchange="location = this.value">
                <option value="wait">Đang Chờ Xét Duyệt</option>
                <option value="posted">Đã Duyệt</option>
                <option value="denied">Không Được Xét Duyệt</option>
            </select>
        </div>
    </form>
    {{#each data}}
    <div class="single-catagory-post d-flex flex-wrap">
        <div class="post-thumbnail bg-img" style="background-image: url({{this.img}});">
        </div>

        <div class="post-content">
            <div class="post-meta">
                <a href="#">{{this.date}}</a>
                <a href="#">{{this.time}}</a>
            </div>
            <a href="wait/{{this.id}}" class="post-title">{{this.title}}</a>
            <p>{{this.abstract}}</p>
        </div>
    </div>
    {{/each}}

    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
        </ul>
    </nav>


</div>