<div class="section-heading">
    <h5>Quản Lý Tài Khoản</h5>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tài Khoản</th>
            <th scope="col">Tên Người Dùng</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Ngày Sinh</th>
            <th scope="col">Giới Tính</th>
            <th scope="col">CMND</th>
            <th scope="col">Khóa Tài Khoản</th>
            <th scope="col">Xóa Tài Khoản</th>
        </tr>
    </thead>
    <tbody>

        {{#each userAccount}}
        <tr>
            <th scope="row">{{this.STT}}</th>
            <td>{{this.username}}</td>
            <td>{{this.fullName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>
            <td>{{this.birthDate}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.ID}}</td>
            <td><a href="blockAccount/{{this.id}}"> &emsp; &emsp;<button type="button" class="btn btn-{{this.lock}}"><i
                            class="fa fa-{{this.icon}}"></i></button></a></td>
            <td><a href="deleteAccount/{{this.id}}">&emsp; &emsp; <button type="button" class="btn btn-primary"><i
                            class="fa fa-trash"></i></button></a></td>

        </tr>
        {{/each}}



    </tbody>

</table>
</div>