<div class="section-heading">
    <h5>Thêm Quảng Cáo</h5>
</div>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="describeTextarea1">Mô Tả</label>
        <textarea class="form-control" id="describeTextarea1" name="describe" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="des">Link</label>
        <input class="form-control" id="des" name="link" rows="3"></input>
    </div>
    <div class="input-group mb-3">
        <div class="form-group">
            <label for="advertises">Chọn ảnh </label>
            <input type="file" class="form-control-file" name="advertise" id="advertises">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Đăng</button>

</form>

<br>
<br>
<div class="section-heading">
    <h5>Quảng Cáo</h5>
</div>
<!-- ##### Advertise Area Start ##### -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Hình Ảnh</th>
            <th scope="col">Link</th>
            <th scope="col">Vị Trí</th>
            <th scope="col">Ngày Đăng</th>
            <th scope="col">Người Đăng</th>
            <th scope="col">Cập nhật</th>
            <th scope="col">&emsp; &emsp; &emsp; Xóa</th>
        </tr>
    </thead>
    {{#each advertise}}
    <tbody>
        <tr>
            <th scope="row">{{this.STT}}</th>
            <td>{{this.describe}}</td>
            <td><img src={{this.url}} width="200px"></td>
            <td><a href="{{this.link}}" target="_blank">{{this.link}}</a></td>
            <td>{{this.position}}</td>
            <td>{{this.date}}</td>
            <td>{{this.postedBy}}</td>
            <td><a href="updateAdvertise/{{this.id}}"> <button type="button" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </button></a></td>
            <td><a href="deleteAdvertise/{{this.id}}">&emsp; &emsp; &emsp; <button type="button"
                        class="btn btn-primary"><i class="fa fa-trash"></i></button></a></td>
        </tr>
    </tbody>
    {{/each}}
</table>
<!-- ##### Advertise Area End ##### -->