<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <div class="section-heading">
        <h5>Xét Duyệt</h5>
    </div>
    <!-- Single Catagory Post -->
    {{#each data}}
    <div class="single-catagory-post d-flex flex-wrap">
        <!-- Thumbnail -->
        <div class="post-thumbnail bg-img" style="background-image: url({{this.img}});">
        </div>

        <!-- Post Contetnt -->
        <div class="post-content">
            <div class="post-meta">
                <a href="#">{{this.date}} / </a>
                <a href="#">{{this.theme}}</a>
                <span class="badge badge-info">{{this.kind}}</span>
            </div>
            <a href="{{this.id}}" class="post-title">{{this.title}}</a>
            <p>{{this.epitomize}}</p>
        </div>
        {{!-- <button type="button" class="btn btn-success mt-3 mr-2" href="/approve/" +{{this.id}}>Duyệt</button> --}}
        <button type="button" class="btn btn-success mt-3 mr-2"><a href="approve/{{this.id}}">Duyệt</a></button>

        <button type="button" class="btn btn-danger mt-3"><a href="deny/{{this.id}}">Không Duyệt</a></button>
    </div>
    {{/each}}

    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
        </ul>
    </nav>


</div>