<div class="section-heading">
    <h5>Thêm Banner</h5>
</div>

<form action="/admin/banner" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="describeTextarea1">Mô Tả</label>
        <textarea class="form-control" id="describeTextarea1" name="describe" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="bannera">Banner</label>
        <input type="file" class="form-control-file" name="banner" id="bannera">
    </div>



    <button type="submit" class="btn btn-primary">Đăng</button>

</form>

<br>
<br>
<div class="section-heading">
    <h5>Banner</h5>
</div>
<form class="form-inline" action="/admin/banner/search" method="GET">
    <div class="form-group mx-sm-3 mt-3">
        <input type="text" class="form-control" name="search" placeholder="Nhập mô tả, tên người đăng">
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
</form>
{{#if message}}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{{/if}}
<!-- ##### Banner Area Start ##### -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Hình Ảnh</th>
            <th scope="col">Ngày Đăng</th>
            <th scope="col">Người Đăng</th>
            <th scope="col">&emsp;Xóa</th>
        </tr>
    </thead>
    {{#each banners}}
    <tbody>
        <tr>
            <th scope="row">{{this.STT}}</th>
            <td>{{this.describe}}</td>
            <td><img src={{this.url}} width="650px"></td>
            <td>{{this.date}}</td>
            <td>{{this.postedBy}}</td>
            <td><a href="deleteBanner/{{this.id}}"> <button type="button" class="btn btn-primary"><i
                            class="fa fa-trash"></i></button></a></td>
        </tr>
    </tbody>
    {{/each}}

</table>
<!-- ##### Banner Area End ##### -->