<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <!-- Status Area -->

    <div class="feature-video-posts mb-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Các bản tin trên hệ thống</h5>
        </div>
    </div>


    <form class="form-inline" action="/admin/posted/search" method="GET">
        <div class="form-group mx-sm-3 mt-3">
            <input type="text" class="form-control" name="search" placeholder="Nhập nội dung tìm kiếm">
        </div>
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
    </form>
    {{#if message}}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {{/if}}

    <div id="ajax">
        {{#each data}}
        <div class="single-catagory-post d-flex flex-wrap">
            <div class="post-thumbnail bg-img" style="background-image: url({{this.img}});">
            </div>

            <div class="post-content">
                <div class="post-meta">
                    <a href="#">{{this.date}}</a>
                    <a href="#">{{this.theme}}</a>
                </div>
                <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>
                {{!-- <p>{{this.epitomize}}</p> --}}
                <p>Người Đăng: <b>{{this.postedBy}}</b> </p>
                <p>Người Duyệt: <b>{{this.approvedBy}}</b> Ngày: <b>{{this.dateApproved}}</b></p>
                <p>Người Cập Nhật: <b>{{this.editedBy}}</b> Ngày: <b>{{this.dateEdited}} </b></p>


                {{!-- <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{this.viewsCount}}</a>
                        <a href="#"><i class="fa far fa-comments" aria-hidden="true"></i>5</a>
                        <a></a>
                    </div> --}}
            </div>
            <button type="button" class="btn btn-success mt-3 mr-2"><a href="edit/{{this.id}}"> Chỉnh
                    Sửa</a></button>
            <button type="button" class="btn btn-primary  mt-3 mr-2"> <a href="unload/{{this.id}}"> Gỡ bài</a></button>
            <button type="button" class="btn btn-danger mt-3"><a href="deleteNews/{{this.id}}">Xóa</a></button>
        </div>
        {{/each}}
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- Pagination -->
    <nav>
        <ul class="pagination">

            {{#each paginate}}
            <li class="page-item"><a id="{{this}}" class="page-link" href="/admin/posted/page/{{this}}">{{this}}</a>
            </li>
            {{/each}}

        </ul>
    </nav>


</div>