<div class="feature-video-posts mb-30">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Thêm Tài Khoản</h5>
    </div>
</div>
<!-- >>>>>>>>>>>>>>>>>>>>
             Profile Area
        <<<<<<<<<<<<<<<<<<<<< -->
{{#each erorrs}}
<div class="alert alert-danger" role="alert">
    {{this.error}}
</div>
{{/each}}
<form action="" method="post">
    <div class="form-group">
        <label>Tên Người Dùng</label>
        <input type="text" class="form-control" name="fullName" {{#each values}} value="{{this.fullName}}" {{/each}}>
    </div>
    <div class="form-group">
        <label>Mật Khẩu</label>
        <small id="password" class="form-text text-muted">mật khẩu mặc định</small>
        <input type="text" class="form-control" id="password" name="password" readonly value="123456">

    </div>
    <div class="form-group">
        <label>Số Điện Thoại</label>
        <input type="Number" class="form-control" name="phone" {{#each values}} value="{{this.phone}}" {{/each}}>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="Email1" name="email" aria-describedby="emailHelp" {{#each values}}
            value="{{this.email}}" {{/each}}>
        <small id="emailHelp" class="form-text text-muted">example abc@gamil.com</small>
    </div>
    <div class="form-group">
        <label>Ngày Sinh</label>
        <input type="date" name="bday" {{#each values}} value="{{this.bday}}" {{/each}}>
    </div>
    <div class="form-group">
        <p><label>Giới Tính</label></p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio1" type="radio" name="checkedGender" value="Nam">
            <label class="form-check-label" for="inlineRadio1">Nam</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" id="inlineRadio2" type="radio" name="checkedGender" value="Nữ">
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
        </div>
    </div>
    <div class="form-group">
        <label>Chứng Minh Nhân Dân</label>
        <input type="Number" class="form-control" name="CMND" placeholder="vui lòng nhập 9 chữ số" {{#each values}}
            value="{{this.CMND}}" {{/each}}>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="permissionSelect">Phân Quyền</label>
        </div>
        <select class="custom-select" id="permissionSelect" name="permission">
            <option selected></option>
            <option value="admin">Quản Trị Viên</option>
            <option value="editor">Biên Tập Viên</option>
        </select>
    </div>
    </br>
    </br>
    </br>
    <button type="submit" class="btn btn-primary">Thêm Tài Khoản</button>
</form>